{% extends 'post/base.html' %}
{% block context %}
    <title>Your topik</title>
    {% if topics %}
        <div><h2>Topic:</h2></div>
        {% for topic in topics %}
            <div class="row">
                <div style="padding: 2px">
                    <div class="column" style="background-color:#ddd;">
                        <h2><a href="{% url 'detail_topic' pk=topic.pk %}"> {{ topic.title }}</a></h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You don't have any topics</p>
    {% endif %}
{% endblock %}