celery==5.2.7
Django==3.2.13
django-bootstrap4==22.3
django-cleanup==7.0.0
django-environ==0.10.0
django-extensions==3.2.1
django-redis==5.2.0
django-simple-captcha==0.5.17
django-twilio==0.14.3.1
django_debug_toolbar==3.8.1
easy-thumbnails==2.8.5
environ==1.0
flake8==6.0.0
isort==5.12.0
Pillow==9.4.0
psycopg2-binary==2.9.5
redis==4.5.1
twilio==7.16.4

