{% extends 'post/base.html' %}
{% load simple_tag %}
{% block context %}
    <title>Dialogs</title>
    <div class="panel">
        {% load tz %}
        {% if dialog.count == 0 %}
            <p>Нет ни одного начатого диалога</p>
        {% endif %}
        {% for dialog in dialog %}
            {% if dialog.message_set.count != 0 %}
                {% with last_message=dialog.message_set.last %}
                    {% get_companion user dialog as companion %}
                    <a class="list-group-item {% if companion == last_message.author and not last_message.is_readed %}unreaded{% endif %}"
                       href="{{ dialog.id }}">
                        <div class="reply-body">
                            <ul class="list-inline">
                                <li class="drop-left-padding">
                                    <strong class="list-group-item-heading">{{ companion.username }}</strong>
                                </li>
                                <li class="pull-right text-muted"><small>{{ last_message.created_date|utc }}</small>
                                </li>
                            </ul>
                            {% if companion != last_message.author %}
                                <div>
                                    <div class="attached-reply-body {% if not last_message.is_readed %}unreaded{% endif %}">{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</div>
                                </div>
                            {% else %}
                                <div>{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</div>
                            {% endif %}
                        </div>
                    </a>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}