{% extends 'communication/base.html' %}
{% load static %}
{% block context %}

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 500px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }
    </style>

    <title>Profile</title>
    <h1 style="text-align:center">{{ user.username }}</h1>
    <div class="card">
        {% if not user.image %}
            <img src="{% static 'profile_default.png' %}" style="width:100%">
        {% else %}
            <img src="{{ user.image.url }}" style="width:100%">
        {% endif %}
        {% if user.first_name %}
            <h2>first name: {{ user.first_name }} </h2>
        {% endif %}
        {% if user.last_name %}
            <h2>last name: {{ user.last_name }} </h2>
        {% endif %}
        {% if user.phone_number and request.user.pk == user.pk %}
            <h2>Phone number: {{ user.phone_number }} </h2>
        {% endif %}
        <h2>email: {{ user.email }}</h2>
        <p>
            <a href="{% url 'profile_topic' pk=user.pk %}">
                <button>Post {{ user.username }}</button>
            </a>
        </p>
        <p>
            <a href="{% url 'dialog_create' user_id=user.pk %}">
                <button>Send message</button>
            </a>
        </p>
    </div>



{% endblock %}